<div class="text-center">
    <h1 class="display-4">Soy Mariel Véjar</h1>
    <h2>Soy una desarrolladora full stack especializada en tecnologías .NET y Javascript</h2>
    <img id="foto"
         src="~/imagenes/me.png" alt="Foto de Mariel" />
</div>

<div class="row justify-content-center text-center bg-secondary">
    <div class="col col-md-7 seccion-bienvenida">

        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p> He estado desarrolladno software profesionalmente desde 2022.  He tenido el privilegio de realizar la práctica en Bennu</p>
    </div>

</div>